@import "../colors.scss";

.container{
  width: 300px;
  text-align: center;
  margin: 10px;
  background-color: $secondary;
  border-style: solid;
  border-radius: 10px;
  border-color: $tertiary;
  color: $tertiary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  cursor: pointer;
}

img{
  width: 300px;
  height: 300px;
}

h1{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.name{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 2px;
}
